extends video_layout

block content
  h1= page_title

  form(method='POST' action='')

    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='title' name='title' required='true' value=(undefined===title ? '' : game.title) )


    div.form-group
      label(for='min_players') Min players:
      input#min_players.form-control(type='number' min="1" max="9" placeholder='Min players' name='min_players' required='true' value=(undefined===min_players ? '3' : game.min_players) )

    div.form-group
      label(for='max_players') Max players:
      input#max_players.form-control(type='number' min="1" max="9" placeholder='Max players' name='max_players' required='true' value=(undefined===max_players ? '5' : game.max_players) )


    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===game ? '' : game.description}



    div.form-group
      label(for='start_time') Start time:
      input#start_time.form-control(type='time', placeholder='start time' name='start_time' required='true' value=(undefined===start_time ? '15:00' : game.start_time) )

    div.form-group
      label(for='end_time') End time:
      input#end_time.form-control(type='time', placeholder='end time' name='end_time' required='true' value=(undefined===end_time ? '21:00' : game.end_time) )



    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
