nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    .container-fluid
    a(class="navbar-brand" href="#") Navbar
    button(class="navbar-toggler" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" 
        aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
          div(class="navbar-nav")
            a(class="nav-link active" aria-current="games" href="/con/games") Home
            a(class="nav-link" href="/con/bookings") Bookings
            a(class="nav-link" href="/catalog") Home

